#sidver{
    display: none;
}
 #latescard{
        padding-bottom: 20px;
    }
    #cardtext, #latescard , #carddspt{
        padding-left: 10px;
    }
    #lates-img{
        padding: 5px 10px;
    }
@media screen and (max-width:576px) {
    #nav-itemes{
        display: none;
    }
    #banner-container{
        flex-direction: column-reverse;
        gap: 0px;
    }
    #slide3, #slide2, #slide1{
        height: auto;
        padding: 50px 0px;
        
    }
    #header {
        width: 96%;
        margin: auto;
    }
    #img{
        width: 60%;
        margin: auto;
        
    }
    #banner-title{
        font-size: 25px;
    }
    #nav-text{
        font-size: 25px;
    }
    #nav-meno{
        width: 95%;
        margin: auto;
        margin-top: 12px;
    }
    #btn{
        font-size: 22px;
        display: none;
    }
    #btn-primary{
        font-size: 22px;
    }
    #banner-dspt{
        width: 80%;
    }
    #sidver{
        display: block;
    }
    #bike-container{
        grid-template-columns: repeat(1,1fr);
        width: 80%;
        margin: auto;
        gap: 0px;
        margin-top: 40px;
    }
    #bike-title{
        font-size: 25px;
    }
    #bike-img{
        width: 200px;
        margin:20px auto;
        
        
    }
    #latest-container{
        grid-template-columns: repeat(1, 1fr);
    }
    #btn-primarys{
        font-size: 22px;
    }
    #latescard{
        padding-bottom: 20px;
    }
    #cardtext, #latescard , #carddspt{
        padding-left: 10px;
    }
    #lates-img{
        padding: 5px 10px;
    }
    #clients-container{
        grid-template-columns: repeat(1, 1fr);
    }
}