@media screen and (max-width:576px) {
    #nav-itemes{
        display: none;
    }
    #banner-container{
        flex-direction: column-reverse;
        gap: 0px;
    }
    #slide3, #slide2, #slide1{
        height: auto;
        padding: 50px 0px;
        
    }
    #header{
        width: 96%;
        margin: auto;
    }
    #img{
        width: 50%;
        position: relative;
        left: 50px;
        
    }
    #banner-title{
        font-size: 25px;
    }
    #nav-text{
        font-size: 25px;
    }
    #nav-meno{
        width: 95%;
        margin: auto;
        margin-top: 12px;
    }
    #btn{
        font-size: 22px;
    }
    #banner-dspt{
        width: 80%;
    }
}